* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils */

.container { 
    max-width: 1200px;
    background-color: lightslategray;
    margin: 0 auto;
}

.clearfix::after {
    content:"";
    display; table;
    clear: both;
}

/* Header */

#topbar {
    background-color: rgb(37,94,233);
    height: 80px;
    line-height: 80px;
}

.col {
    float: left;
}

.logo {
    width: 20%;
}

.logo img {
    vertical-align: middle;
}

.top_menu {
    width: 60%;
    text-align: center;
}

.col.top_menu li {
    display: inline-block;
}

.col.top_menu a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.col.btt_login {
    width: 20%;
    text-align: right;
}

.col.btt_login a {
    text-decoration: none;
    background-color: white;
    margin-right: 20px;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
}

#jumbotron {
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.text_jumbotron {
    height: 400px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    line-height: 2em;
}

.text_jumbotron h1 {
    font-size: 50px;
    margin-bottom: 70px;
}

p {
    font-size: 20px;
    margin: 50px;
}


.text_jumbotron a {
    text-decoration: none;
    background-color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
}

.fas {
    margin: 0 5px 0 5px;
}

#jumbo_download_mac {
    color: black;
    margin-right: 10px;
}

#jumbo_open_browser {
    color: white;
    margin-left: 10px;
    background-color: black;
}